@page "/"

<PageTitle>Home</PageTitle>
<!-- To build navbar: https://www.youtube.com/watch?v=M0uepUvKF-I-->
<div class="main_container">
      <div class="home_paragraph">
        <div>
          <div>
            <div>
              <div class="anim1">
                <h4 class="anim1">Hey There!</h4>
              </div>
            </div>
            <div class="collapse_text">
              <div class="anim1">
                <h2>I'm Desmond</h2>
              </div>
            </div>
          </div>

          <div class="home_title_text anim2">
            <p class="anim3">
              Freelance Web developer Passionate about bringing ideas to reality
              though web development Freelance Web developer Passionate about
              bringing ideas to reality though web development
            </p>
          </div>
        </div>

        <div class="home_button">
          <button>Email</button>
          <button>LinkedIn</button>
        </div>
      </div>
      <div class="main_container-inner">
        <div class="logo_wrapper">
          <img
            src="../resources/images/ctp-logo.png"
            id="header-image"
            alt=""
            class="fadeIn"
          >
          <h1>Art of Code</h1>
        </div>

        <div class="index_bar_container">
          <a href="https://codepen.io/your-work/" class="button_text_1">
            CodePen
          </a>
          <a href="https://github.com/" class="button_text_1">
            Github
          </a>
          <a href="something" class="button_text_1">
            Blog
          </a>
          <a href="something" class="button_text_1">
            YouTube
          </a>
        </div>

        <div class="index_bar_form_container">
          <form id="index_bar_form_inner">
            <input
              type="text"
              id="email"
              name="email"
              placeholder="Enter email for mail listing..."
            >
            <button id="submit"
              href="http://www.test.com">Submit</button>
          </form>
        </div>
      </div>
    </div>