@page "/services"


<PageTitle>Services</PageTitle>

<!-- top -->
<div class="header_section">
    <div class="header_left">
    <div>
        <div class="collapse_text">
        <h3 class="anim1">
            <span>What I do</span>
        </h3>
        </div>
        <div class="collapse_text">
        <h1 class="anim1">Services</h1>
        </div>
        <div class="collapse_text">
        <h4 class="anim2">Web Development & Design</h4>
        </div>
        <br>
        <div class="collapse_text">
        <p class="anim1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Accusantium quas id illo, magni ipsa veritatis sit fuga doloribus,
            porro voluptas maxime optio ducimus hic recusandae perspiciatis
            dolorum minima, sint officia.
        </p>
        </div>
        <button href="https://www.facebook.com" id="button_1">
        Get started</button>
    </div>
    </div>

    <div class="header_right">
    <div class="card_vertical right_left">
            <div class="card_front card_img1">
        <div class="card_overlay border_1"></div>
        </div>
    </div>

    <div class="card_vertical left_right">
        <div class="card_front card_img2">
        <div class="card_overlay border_1"></div>
        <div>
            <h4>React</h4>
            <p>
            Building Robust Websites <br> since 2020
            </p>
        </div>
        <div class="second_p">
            <p>PROFESSIONAL WEB DEVELOPER SINCE 2013</p>
        </div>
        </div>
    </div>
    </div>
</div>
    <!-- Top End-->





    <!-- mid -->
<div id="services_section2">
    <div class="services_section2_inner border_1">
        <div class="sec1">
            <div class="innerLi collapse_text">
                <ul class="anim1">
                    <li>View my portfolio</li>
                </ul>
            </div>

            <div class="innerLi collapse_text">
                <ul class="anim3">
                    <li>Who I have worked</li>
                </ul>
            </div>

            <div class="innerLi collapse_text">
                <ul class="anim2">
                    <li>Future Projects</li>
                </ul>
            </div>
        </div>

        <div class="sec2">
            <div class="img_box">
                <div class="img_box_img">
                    <div class="img_box_img_1">
                        <div>
                            <h4>BACKGROUND</h4>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Quibusdam dolorum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam dolorum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam dolorum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mid end -->




    <!-- Bottom start -->
    <!-- Styling is in Global/form.css-->
<div class="contactUsForm">
      <div class="contactUs">
        <div class="title">
          <h2>Let's Talk</h2>
        </div>

        <div class="contact_box">
          <div class="contact form border_1">
            <form>
              <div class="formBox">
                <div class="row50">
                  <div class="inputBox">
                    <span>First Name</span>
                    <input type="text" placeholder="Fisrt name">
                  </div>
                  <div class="inputBox">
                    <span>Last Name</span>
                    <input type="text" placeholder="Last name">
                  </div>
                </div>

                <div class="row50">
                  <div class="inputBox">
                    <span>Email</span>
                    <input type="text" placeholder="">
                  </div>
                  <div class="inputBox">
                    <span>Mobile</span>
                    <input type="text" placeholder="+11 76789 327238">
                  </div>
                </div>

                <div class="row100">
                  <div class="inputBox">
                    <span>Message</span>
                    <textarea placeholder="Write your message here..."></textarea>
                  </div>
                </div>

                <div class="row100">
                  <div class="inputBox">
                    <input type="submit" value="send">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
<!-- Bottom end -->