@page "/wordpress"

<PageTitle>Wordpress</PageTitle>


<!-- Header -->
<div id="header_section">
      <div class="header_section_left">
        <div className="collapse_text">
          <h1 className="anim3">Desmond Dallas</h1>
        </div>
        <div className="collapse_text">
          <h3 className="anim2">HTML, CSS & Javascript Developer</h3>
          </div>
        <div className="collapse_text">
        <p className="anim1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          quas id illo, magni ipsa veritatis sit fuga doloribus, porro voluptas
          maxime optio ducimus hic recusandae perspiciatis dolorum minima, sint
          officia.
          </p>
          </div>
        <button id="button_1" href="https://www.facebook.com">
           Contact Me</button>
      </div>
    </div>

<!-- Forms -->
<div class="contactUsForm">
      <div class="contactUs">
        <div class="title">
          <h2>Let's Talk</h2>
        </div>

        <div class="contact_box">
          <div class="contact form border_1">
            <form>
              <div class="formBox">
                <div class="row50">
                  <div class="inputBox">
                    <span>First Name</span>
                    <input type="text" placeholder="First name" />
                  </div>
                  <div class="inputBox">
                    <span>Last Name</span>
                    <input type="text" placeholder="Last name" />
                  </div>
                </div>

                <div class="row50">
                  <div class="inputBox">
                    <span>Email</span>
                    <input type="text" placeholder="dd.com" />
                  </div>
                  <div class="inputBox">
                    <span>Mobile</span>
                    <input type="text" placeholder="+11 76789 327238" />
                  </div>
                </div>

                <div class="row100">
                  <div class="inputBox">
                    <span>Message</span>
                    <textarea placeholder="Write your message here..."></textarea>
                  </div>
                </div>

                <div class="row100">
                  <button id="button_1"> Send</button>
                </div>
              </div>
            </form>
          </div>

          <div class="contact info">
            <h3>Contact info</h3>
            <div class="infoBox">
              <div>
                <span>
                  <i class="fa-solid fa-location-dot" name="location"></i>
                </span>
                <p>
                  CHEADLE, STOKE-ON-TRENT, <br />
                  UNITED KINGDOM, ST11 5RD
                </p>
              </div>
              <div>
                <span>
                  <i class="fa-solid fa-envelope" name="mail"></i>
                </span>
                <a href="mailto:dallas@gmail.com">DALLAS.D@GMAIL.COM</a>
              </div>
              <div>
                <span>
                  <i class="fa-solid fa-phone-volume" name="call"></i>
                </span>
                <a href="tel:+44 7847 7563">+44 7847 7563</a>
              </div>
              <ul class="sci">
                <li>
                  <NavLink>
                    <i class="fa-brands fa-youtube"></i>
                  </NavLink>
                </li>
                <li>
                  <NavLink href="#">
                    <i class="fa-brands fa-instagram"></i>
                  </NavLink>
                </li>
                <li>
                  <NavLink href="#">
                    <i class="fa-brands fa-tiktok"></i>
                  </NavLink>
                </li>
                <li>
                  <NavLink href="#">
                    <i class="fa-brands fa-twitter"></i>
                  </NavLink>
                </li>
                <li>
                  <NavLink href="#">
                    <i class="fa-brands fa-linkedin"></i>
                  </NavLink>
                </li>
              </ul>
            </div>
          </div>
          <div class="contact map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19204.97169308902!2d-2.189871423331689!3d53.00919045966364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487a11520fae440d%3A0xf1cdcd2f02caee04!2sStoke-on-Trent!5e0!3m2!1sen!2suk!4v1665497131360!5m2!1sen!2suk"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <!-- Bottom -->
    <div>
      <div id="seo_about">
        <h2>Got a Project In Mind</h2>
        <h3>Let's get started</h3>
        <p>
          We've done loads of great projects over the years. Our experienced
          team have created hundreds of websitess, designs and marketing
          campaigns whatever you're after, we've probably done something similar
          before. Looking for a great new brand that represents what you do
          perfectly? Or an ecommerce website with bespoke features? Perhaps you
          need an effective digital marketing or a unique social media campaign?
        </p>
        <div className="seo_bottom_btn">
          <button>Ready Let's go</button>
        </div>
      </div>

      <div class="cards_container">
        <div class="cards_wrapper">
          <div class="box_image">
            <h4>Content Writing</h4>
            <p>
              Our approach to website design is to create a website that
              strengthens your company's.
            </p>
            <a href="#websites" class="box-image__overlay">
              <div class="box-image_back">
                Our approach to website design is to create a website that
                strengthens your company's brand style ensuring ease of use and
                simplicity for your audience.
              </div>
              <div class="box-image-btn">Learn More</div>
            </a>
          </div>

          <div class="box_image">
            <h4>PPC</h4>
            <p>
              Our approach to website design is to create a website that
              strengthens your company's.
            </p>
            <a href="#websites" class="box-image__overlay">
              <div class="box-image_back">
                Wordpress CMS is a user-friendly administrative area allowing
                you to easily edit your website's content.
              </div>
              <div class="box-image-btn">Learn More</div>
            </a>
          </div>

          <div class="box_image">
            <h4>Social Marketing</h4>
            <p>
              Our approach to website design is to create a website that
              strengthens your company's.
            </p>
            <a href="#websites" class="box-image__overlay">
              <div class="box-image_back">
                We offer customised SEO (Search Engine Optimisation) training to
                ensure your website is rising the ranks in Google and staying at
                the top.
              </div>
              <div class="box-image-btn">Learn More</div>
            </a>
          </div>

          <div class="box_image">
            <h4>Campaigns</h4>
            <p>
              Our approach to website design is to create a website that
              strengthens your company's.
            </p>
            <a href="#websites" class="box-image__overlay">
              <div class="box-image_back">
                If your website is built with Wordpress it's crucial to keep the
                Wordpress version and plugins up-to-date to eliminate
                vulnerabilities.
              </div>
              <div class="box-image-btn">Learn More</div>
            </a>
          </div>

          <div class="box_image">
            <h4>Search Optimisation</h4>
            <p>
              Our approach to website design is to create a website that
              strengthens your company's.
            </p>
            <a href="#websites" class="box-image__overlay">
              <div class="box-image_back">
                Our goal is to design a professional yet creative logo that
                reflects your company’s spirit and leaves a lasting, memorable
                effect.
              </div>
              <div class="box-image-btn">Learn More</div>
            </a>
          </div>

          <div class="box_image">
            <h4>Lead Generation</h4>
            <p>
              Our approach to website design is to create a website that
              strengthens your company's.
            </p>
            <a href="#websites" class="box-image__overlay">
              <div class="box-image_back">
                Professional website content writing by our in-house copywriter,
                Nicholas Grundy. We also offer copy-writing for optimising your
                website's SEO.
              </div>
              <div class="box-image-btn">Learn More</div>
            </a>
          </div>
        </div>
      </div>
    </div>
